{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'favicon.jpg' %}">
    <link rel="stylesheet" href="{% static 'find.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>ScholarRepo | Find</title>
</head>
<body>
    <header>
        <img src="{% static 'header.png' %}" alt="ScholarRepo" class="img-header">
        <nav>
            <ul>
                <a href="{% url 'home' %}"><img src="{% static 'home.png' %}" alt="home" width="25px" height="25px" class="nav-img">Home</a>
                <a href="{% url 'find' %}" class="find"><img src="{% static 'find.png' %}" alt="find" width="25px" height="25px">Find</a>
                <a href="{% url 'upload' %}"><img src="{% static 'upload.png' %}" alt="upload" width="25px" height="25px" class="nav-img">Upload</a>
                <a href="#"><img src="{% static 'notification.png' %}" alt="alerts" width="25px" height="25px" class="nav-img">Alerts</a>
                <details>
                    <summary>
                        <img src="{% static 'user.png'%}" alt="user" width="25px" height="25px" class="nav-img">Account
                    </summary>
                    <div class="account">
                        <a href="#"><img src="{% static 'profile.png' %}" alt="signin" width="25px" height="25px">Profile</a>
                        <a href="#"><img src="{% static 'settings.png' %}" alt="signin" width="25px" height="25px">Settings</a>
                        <a href="{% url 'signin' %}"><img src="{% static 'signin.png' %}" alt="signin" width="25px" height="25px"> Sign In</a>
                    </div>
                </details>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="search">
                <label for="search">Search for Repo</label>
                <br>
                <input type="search" placeholder="🔍 Search" id="search">
            </div>
            <div class="sort-filter">
                <select name="sort" id="sort">
                    <option value="" selected><img src="{% static 'sort.png' %}" alt="sort" width="25" height="25">Sort</option>
                    <option value="A to Z">A to Z</option>
                    <option value="Z to A">Z to A</option>
                    <option value="Z to A">Recent</option>
                    <option value="Z to A">Oldest</option>
                </select>

                <select name="filter" id="filter">
                    <option value="" selected><img src="{% static 'filter.png' %}" alt="filter" width="25" height="25">Filter</option>
                    <option value="A to Z">Category</option>
                    <option value="Z to A">Title</option>
                    <option value="Z to A">Lecturer</option>
                    <option value="Z to A">Owner</option>
                </select>
            </div>
        </section>
        <section>
            <img src="{% static 'search.svg' %}" alt="search-illustration" class="illustration">
        </section>
    </main>

    <footer>
        <div class="scholarRepo footer">
            <img src="{% static 'logo.png' %}" alt="logo" class="nav-img" width="120" height="120">
        </div>
        <div class="footer">
            <ul>
                <h5>Socials</h5>
                <a href="https://www.x.com/">X</a>
                <a href="https://www.instagram.com/">Instagram</a>
                <a href="https://www.facebook.com/">Facebook</a>
                <a href="https://www.linkedin.com/">LinkedIn</a>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <h5>Explore</h5>
                <a href="#">Alerts</a>
                <a href="#">My Account</a>
                <a href="#">Find Repo</a>
                <a href="{% url 'upload' %}">Upload Project</a>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <h5>Developers</h5>
                <a href="https://sbk-socials.vercel.app/"><em>SBKmadeIT</em></a>
                <a href="https://www.facebook.com/">Facebook</a>
                <a href="https://www.snapchat.com/">Snapchat</a>
                <a href="https://www.instagram.com/">Instagram</a>
            </ul>
        </div>
    </footer>
    <p> &copy; <script> document.write(new Date().getFullYear()) </script> SBKmadeIT | All Rights Reserved</p>
</body>
</html>