{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'favicon.jpg' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'settings.css' %}">
    <title>ScholarRepo | Settings</title>
</head>
<body>
    <header>
        <img src="{% static 'header.png' %}" alt="ScholarRepo" class="img-header">
        <nav>
            <ul>
                <a href="{% url 'home' %}" class="home"><img src="{% static 'home.png' %}" alt="home" width="25px" height="25px" class="nav-img">Home</a>
                <a href="{% url 'find' %}"><img src="{% static 'find.png' %}" alt="find" width="25px" height="25px" class="nav-img">Find</a>
                <a href="{% url 'upload' %}"><img src="{% static 'upload.png' %}" alt="upload" width="25px" height="25px" class="nav-img">Upload</a>
                <a href="#"><img src="{% static 'notification.png' %}" alt="alerts" width="25px" height="25px" class="nav-img">Alerts</a>
                <details>
                    <summary>
                        <img src="{% static 'user.png'%}" alt="user" width="25px" height="25px" class="nav-img">Account
                    </summary>
                    <div class="account">
                        <a href="{% url 'profile' %}"><img src="{% static 'profile.png' %}" alt="signin" width="25px" height="25px">Profile</a>
                        <a href="{% url 'settings'%}"><img src="{% static 'settings.png' %}" alt="signin" width="25px" height="25px">Settings</a>
                        <a href="{% url 'signout' %}"><img src="{% static 'signin.png' %}" alt="signin" width="25px" height="25px"> Sign Out</a>
                    </div>
                </details>
            </ul>
        </nav>
    </header>

    <main>
        <aside>
            <div class="tabs">
                <h1>Settings</h1>
                <h2><a href="{% url 'settings' %}">General</a></h2>
                <h2 class="active"><a href="{% url 'project-settings' %}">Project Settings</a></h2>
                <h2><a href="">Account</a></h2>
                <h2><a href="">Privacy & Security</a></h2>
            </div>
            <div class="account-user">
                <img src="{{user.profile_pic.url}}" alt="user" width="30" height="30" style="border-radius: 50%;">
                <h2>{{user.username}}</h2>
            </div>
        </aside>
        <section>
            <div class="settings-header">
                <h2>Project Settings
                </h2>
                {% if messages %}
                        <ul class="messages">
                    {% for message in messages%}
                        <li class="{{message.tags}}">{{message}}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </div>
            
            <div class="projects">
                {% for project in projects %}
                <article>
                    <figure>
                        <img src="{{ project.cover_image.url }}" alt="Project cover">
                    </figure>
                    <figcaption>
                        <div class="description">
                            <h3>{{project.category}}</h3>
                            <h4>{{project.title}}</h4>
                        </div>
                        <div class="user-project">
                            <button type="submit" class="delete-btn"><a href="{% url 'delete-project' project.id%}" style="color: inherit;">delete project</a></button>
                        </div>
                    </figcaption>
                </article>
            {% endfor %}
            </div>

        </section>
    </main>
</body>
</html>